
@use '@angular/material' as mat;

:root, .dark-mode, .light-mode {
    @include mat.autocomplete-overrides((
      container-shape: var(--size-radius-comp, 4px),
      background-color: var(--color-background-container-overlay),
      container-elevation-shadow: (0px 1px 10px 0px rgba(0, 0, 0, 0.12), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 2px 4px -1px rgba(0, 0, 0, 0.20)),
    ));
  }