@use '@angular/material' as mat;

:root, .dark-mode, .light-mode{
  --mat-full-pseudo-checkbox-unselected-icon-color: var(--color-icon-neutral-muted-default);

  @include mat.checkbox-overrides((
    unselected-icon-color: var(--color-icon-neutral-muted-default),
    unselected-hover-icon-color: var(--color-icon-neutral-muted-default),
    unselected-focus-icon-color: var(--color-icon-neutral-muted-default),
    selected-checkmark-color: var(--color-icon-primary-onprimary),
    label-text-color: var(--color-text-neutral-default),
    disabled-label-color: var(--color-text-ondisabled),
    disabled-unselected-icon-color: var(--color-icon-ondisabled),
    disabled-selected-icon-color: var(--color-icon-ondisabled),
    disabled-selected-checkmark-color: var(--color-background-container-default),
    // state layers
    unselected-hover-state-layer-color: var(--color-background-neutral-hover),
    unselected-focus-state-layer-color: var(--color-background-neutral-focus),
    unselected-pressed-state-layer-color: var(--color-background-neutral-active),
    selected-hover-state-layer-color: var(--color-background-neutral-hover),
    selected-focus-state-layer-color: var(--color-background-neutral-focus),
    selected-pressed-state-layer-color: var(--color-background-neutral-active),
    selected-hover-state-layer-opacity: 1.0,
    selected-focus-state-layer-opacity: 1.0,
    selected-pressed-state-layer-opacity: 1.0,
    unselected-hover-state-layer-opacity: 1.0,
    unselected-focus-state-layer-opacity: 1.0,
    unselected-pressed-state-layer-opacity: 1.0,

    state-layer-size: var(--size-comp-s, 48px),
    label-text-font: var(--global-font-fontfamily, Inter),
    label-text-size: var(--size-font-m, 16px),
    label-text-line-height: var(--global-font-lineheightlow, 1.25), // 20px; /* 125% */
    label-text-weight: var(--global-font-fontweightregular, 400),

  ));

  .ngt-error {
    @include mat.checkbox-overrides((
      unselected-icon-color: var(--color-icon-error),
      unselected-hover-icon-color: var(--color-icon-error),
      unselected-focus-icon-color: var(--color-icon-error),
      selected-icon-color: var(--color-icon-error),
      selected-hover-icon-color: var(--color-icon-error),
      selected-focus-icon-color: var(--color-icon-error)
  ));
  }

  .mat-mdc-checkbox{
    text-wrap: nowrap;
  }

  .ngt-readonly {

    .mdc-checkbox__background{
      background-color: var(--color-background-neutral-muted-medium);
    }

    @include mat.checkbox-overrides((
      disabled-label-color: var(--color-text-neutral-default),
      disabled-unselected-icon-color: var(--color-icon-neutral-muted-default),
      disabled-selected-icon-color: var(--color-icon-neutral-muted-default),
  ));
  }

}
