@use '@angular/material' as mat;

:root, .dark-mode, .light-mode{
    @include mat.datepicker-overrides((
        calendar-container-background-color: var(--color-background-container-overlay),
        calendar-container-text-color: var(--color-text-primary-onprimarymuted), // does not seem to work

        // dropdown to toggle between month and year view i.e. "JAN 2024"
        calendar-period-button-text-color: var(--color-text-neutral-default), 
        calendar-period-button-icon-color: var(--color-text-neutral-default),
        calendar-period-button-text-size: var(--size-font-m, 16px),
        calendar-period-button-text-weight: var(--primitives-global-font-fontweightmedium, 600),
        // left/right arrows to navigate between months
        calendar-navigation-button-icon-color: var(--color-text-neutral-default), 
        // header line between (period, navigation) line at the top and the calender view with initials of the weekdays
        calendar-header-text-color: var(--color-text-neutral-default),
        // calendar-header-text-size
        // calendar-header-text-weight

        calendar-body-label-text-color: var(--color-text-primary-onprimarymuted), // Month name

        calendar-date-text-color: var(--color-text-primary-onprimarymuted),
        calendar-date-selected-state-background-color: var(--color-background-isselected),
        calendar-date-selected-state-text-color: var(--color-text-primary-onprimary, #FFF),
        calendar-date-today-selected-state-outline-color: var(--color-border-primary-default),  // does not seem to work
        calendar-date-outline-color: var(--ngt-color-transparent),
        calendar-date-today-outline-color: var(--color-border-primary-default),
        calendar-date-hover-state-background-color: var(--ngt-tertiary-hover-background-color),
        calendar-date-focus-state-background-color: var(--ngt-tertiary-focus-background-color),
        toggle-icon-color: var(--color-icon-neutral-onneutral),  // does not seem to work
        toggle-active-state-icon-color: var(--color-icon-neutral-onneutral), // does not seem to work
        // var(--color-background-primary-muted-active)
    ));

    .mat-datepicker-toggle .mdc-icon-button.mat-mdc-icon-button{
        background-color: transparent;
        --mat-icon-button-state-layer-color: transparent;
    }

    .ngt-input-small .mat-datepicker-toggle .mdc-icon-button.mat-mdc-icon-button{    
        height: var(--size-comp-xxs, 32px);
    }

    ngt-date-input{
        --mdc-filled-text-field-error-label-text-color: var(--color-text-neutral-muted-default);
        --mdc-filled-text-field-error-hover-label-text-color: var(--color-text-neutral-muted-default);
        --mdc-filled-text-field-error-focus-label-text-color: var(--color-text-neutral-muted-default);
        
        mat-datepicker-toggle.ngt-error .mdc-icon-button.mat-mdc-icon-button{
            color: var(--color-text-error);
        }

        mat-datepicker-toggle.ngt-readonly .mdc-icon-button.mat-mdc-icon-button{
            opacity: 0;
        }
    }

}