@use '@angular/material' as mat;

:root, .dark-mode {
  @include mat.dialog-overrides ((
    container-color: var(--color-background-container-default),
    container-shape: var(--size-radius-layer, 8px),
    container-max-width: 100%,

    subhead-color: var(--color-text-neutral-default),
    supporting-text-color: var(--color-text-neutral-default),

    headline-padding: var(--spacing-padding-component-standard, 16px) var(--spacing-padding-component-loose, 24px),
    content-padding: var(--spacing-padding-component-dense, 8px) var(--spacing-padding-component-loose, 24px),
    with-actions-content-padding: var(--spacing-padding-component-dense, 8px) var(--spacing-padding-component-loose, 24px),

    subhead-font: Inter,
    subhead-size: var(--size-fontsize-h6, 18px),
    subhead-weight: 700,
    subhead-line-height: normal,

    supporting-text-font: Inter,
    supporting-text-size: var(--size-fontSize-m, 16px),
    supporting-text-weight: 400,
    supporting-text-line-height: var(--primitives-global-font-lineheightlow, 125%),
  ));

.mat-mdc-dialog-title {
  height: 64px;
  padding-top: 0px;
 }

.mat-mdc-dialog-container.mat-mdc-dialog-title+.mat-mdc-dialog-content {
  padding-top: var(--spacing-padding-component-dense, 8px);
}
.mat-mdc-dialog-container {
  border-radius: var(--size-radius-layer, 8px);
  background-color: var(--color-background-container-default);
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.20), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
}

.mat-mdc-dialog-container .mat-mdc-dialog-content {
  align-items: flex-start;
  align-self: stretch;
}

.close-button.mat-mdc-icon-button {
  height: var(--size-comp-XS, 40px);
  width: var(--size-comp-XS, 40px);
  min-width: var(--size-minwidth-comp, 40px);
  border-radius: var(--size-radius-comp, 4px);
  padding: 0px var(--spacing-padding-component-dense, 8px);
  justify-content: center;
  align-items: center;
  gap: var(--spacing-gap-component-standard, 8px);
  background-color: transparent;
}

.close-button.mat-mdc-icon-button .mat-mdc-button-ripple,
 .close-button.mat-mdc-icon-button .mat-mdc-button-persistent-ripple,
 .close-button.mat-mdc-icon-button .mat-mdc-button-persistent-ripple::before {
 border-radius: var(--size-radius-comp, 4px);
}

.close-icon {
  display: flex;
  color: var(--color-text-neutral-default);
  font-size: medium;
  align-items: center;
  justify-content: center;
}

}

.ngt-dialog {
  z-index: 101;
  background-color: var(--color-background-container-default);
  color: var(--md-sys-color-on-surface);
  box-shadow: 0 24px 38px var(--primitives-color-greytransp-100e26);
  border-radius: 8px;
  border: 1px solid var(--color-border-neutral, rgba(0, 0, 0, 0.26));
  max-width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
}

.ngt-dialog-title-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  padding: var(--spacing-padding-component-standard, 16px) var(--spacing-padding-component-loose, 24px);
}

.ngt-dialog-title-text {
  color: var(--color-text-neutral-default, #262626);

  /* typography/headline/h6 */
  font-family: var(--primitives-global-font-fontFamily, Inter);
  font-size: var(--size-font-h6, 18px);
  font-style: normal;
  font-weight: var(--primitives-global-font-fontWeightBold, 700);
  line-height: normal;
}

.ngt-dialog-button-bar {
  display: flex;
  flex-direction: row;
  padding: var(--spacing-padding-layout-standard, 16px) var(--spacing-padding-layout-wide, 24px);
  align-items: center;
  align-self: stretch;
  justify-content: flex-end;
}
