@use '@angular/material' as mat;

:root,
.dark-mode,
.light-mode {

  @include mat.core-overrides((app-background-color: var(--color-background-container-default),
      app-text-color: var(--color-text-neutral-default),
      option-label-text-font: var(--primitives-global-font-fontfamily, Inter),
      option-label-text-size: var(--size-fontSize-m, 16px),
      option-label-text-weight: var(--primitives-global-font-fontwightregular, 400),
      option-label-text-line-height: var(--primitives-global-font-lineheightlow, 125%),
      // option-label-text-color: var(--color-text-neutral-muted-default),
      option-selected-state-label-text-color: var(--color-text-primary-onprimarymuted),
      option-hover-state-layer-color: rgb(from color-mix(in srgb, var(--color-background-primary-muted-default), var(--color-background-primary-muted-hover)) r g b / 100%),
      option-focus-state-layer-color: rgb(from color-mix(in srgb, var(--color-background-primary-muted-default), var(--color-background-primary-muted-focus)) r g b /100%),
      option-selected-state-layer-color: var(--color-background-issecondaryselected),

      optgroup-label-text-font: var(--primitives-global-font-fontfamily, Inter),
      optgroup-label-text-size: var(--size-fontsize-xs, 12px),
      optgroup-label-text-weight: var(--primitives-global-font-fontweightmedium, 600),
      optgroup-label-text-line-height: var(--primitives-global-font-lineheightlow, 125%),
      optgroup-label-text-color: var(--color-text-neutral-default),
      //background: var(--color-background-container-ondefault)

    ));

}

:root,
.dark-mode,
.light-mode {

  --mdc-list-list-item-label-text-color: var(--color-text-primary-onprimarymuted);
  --mdc-list-list-item-hover-label-text-color: var(--color-text-primary-onprimarymuted);

  --mat-option-label-text-color: var(--color-text-primary-onprimarymuted);
  // --mat-optgroup-label-text-color: var(--color-text-primary-onprimarymuted);

  .mat-mdc-optgroup-label .mdc-list-item__primary-text {
    text-transform: uppercase;
  }

  .mat-mdc-optgroup .mat-mdc-optgroup-label {
    background-color: var(--color-background-container-ondefault);
    min-height: 32px;
    height: 32px;
  }

}

:root,
.dark-mode,
.light-mode {

  @include mat.icon-overrides((color: currentColor,
    ));

  // we want to add theming with color schemes light and dark
  // so we cannot use the svg color directly
  //specific colors or currentColor overwrite the colors defined in other overrides
  .mat-icon svg,
  .mat-icon svg path {
    fill: inherit;
  }

}

:root {
  --mdc-list-list-item-container-shape: 0px;
  --mdc-list-list-item-leading-avatar-shape: 9999px;
  --mdc-list-list-item-leading-icon-size: var(--size-icon-m, 20px);
  --mdc-list-list-item-leading-avatar-size: 40px;
  --mdc-list-list-item-trailing-icon-size: var(--size-icon-m, 20px);
  --mdc-list-list-item-disabled-label-text-opacity: 0.3;
  --mdc-list-list-item-disabled-leading-icon-opacity: 0.38;
  --mdc-list-list-item-disabled-trailing-icon-opacity: 0.38;
  --mat-list-active-indicator-color: var(--md-sys-secondary-container);
  --mat-list-list-item-leading-icon-start-space: var(--spacing-padding-component-standard, 16px);
  --mat-list-list-item-leading-icon-end-space: var(--spacing-padding-component-standard, 16px);
  --mat-list-active-indicator-shape: 9999px;
  //var(--spacing-padding-component-dense, 8px) 

  // --helpvar-list-item-height-standard: calc(1 * (2 * var(--spacing-padding-component-dense, 8px) + var(--size-fontSize-m, 16px) * var(--primitives-global-font-lineheightlow, 1.25)) + 2 * var(--spacing-padding-component-dense, 8px));
  // --helpvar-list-item-height-standard-x2: calc(2 * (2 * var(--spacing-padding-component-dense, 8px) + var(--size-fontSize-m, 16px) * var(--primitives-global-font-lineheightlow, 1.25)) + 2 * var(--spacing-padding-component-dense, 8px));
  // --helpvar-list-item-height-standard-x3: calc(3 * (2 * var(--spacing-padding-component-dense, 8px) + var(--size-fontSize-m, 16px) * var(--primitives-global-font-lineheightlow, 1.25)) + 2 * var(--spacing-padding-component-dense, 8px));

  // --mdc-list-list-item-one-line-container-height: var(--helpvar-list-item-height-standard, 52px);
  // --mdc-list-list-item-two-line-container-height: var(--helpvar-list-item-height-standard-x2, 88px);
  // --mdc-list-list-item-three-line-container-height: var(--helpvar-list-item-height-standard-x3, 124px);

  // div.mat-mdc-select-panel:has(mat-option.ngt-compact-menu-item){
  //   --helpvar-list-item-height-compact: calc(1 * (2 * var(--spacing-padding-component-minimal, 4px) + var(--size-fontSize-m, 16px) * var(--primitives-global-font-lineheightlow, 1.25)) + 2 * var(--spacing-padding-component-minimal, 4px));
  //   --helpvar-list-item-height-compact-x2: calc(2 * (2 * var(--spacing-padding-component-minimal, 4px) + var(--size-fontSize-m, 16px) * var(--primitives-global-font-lineheightlow, 1.25)) + 2 * var(--spacing-padding-component-minimal, 4px));
  //   --helpvar-list-item-height-compact-x3: calc(3 * (2 * var(--spacing-padding-component-minimal, 4px) + var(--size-fontSize-m, 16px) * var(--primitives-global-font-lineheightlow, 1.25)) + 2 * var(--spacing-padding-component-minimal, 4px));
  //   --mdc-list-list-item-one-line-container-height: var(--helpvar-list-item-height-compact, 36px);
  //   --mdc-list-list-item-two-line-container-height: var(--helpvar-list-item-height-compact-x2, 64px);
  //   --mdc-list-list-item-three-line-container-height: var(--helpvar-list-item-height-compact-x3, 92px);
  // }
}

.mat-mdc-select-panel {
  padding: var(--spacing-padding-component-dense, 8px) 0px;
}

.mat-mdc-option.mdc-list-item {
  padding: var(--spacing-padding-component-dense, 8px) var(--spacing-padding-component-standard, 16px);
  min-height: var(--size-comp-XS, 40px);
}

.mat-mdc-select-panel:has(.ngt-compact-menu-item) {
  padding: var(--spacing-padding-component-minimal, 4px) 0px;
}

.ngt-compact-menu-item.mat-mdc-option.mdc-list-item {
  padding: var(--spacing-padding-component-minimal, 4px) var(--spacing-padding-component-standard, 16px);
  min-height: var(--size-comp-XXS, 32px);
}

mat-label,
.dark-mode mat-label,
.light-mode mat-label {
  background-color: inherit;
  color: var(--color-text-muted-neutral);
}

:root,
.dark-mode,
.light-mode {
  @include mat.progress-bar-overrides((track-shape: var(--size-height-progressbar, 8px),
      track-height: var(--size-height-progressbar, 8px),
      active-indicator-height: var(--size-height-progressbar, 8px),

      track-color: var(--color-background-neutral-muted-medium),
      active-indicator-color: var(--color-background-primary-default),
    ));
}

.mdc-linear-progress--indeterminate {
  --mdc-linear-progress-track-shape: 0;
}


button:not([role="switch"]) svg path,
a svg path {
  fill: currentColor;
}

:root,
.dark-mode,
.light-mode {

  scrollbar-color: var(--color-background-neutral-muted-medium) transparent;
  // scrollbar-width: thin; //
  // scroll-snap-type: ;
  // scroll-padding: var(--spacing-padding-component-minimal, 4px);
  // scroll-margin: var(--spacing-padding-component-minimal, 4px);

  /* width */
  // ::-webkit-scrollbar { 
  // //   --webkit-appearance: none;
  //   width: calc(var(--size-icon-s, 18px)/2);
  //   // padding: var(--spacing-padding-component-minimal, 4px);
  //   // width: var(--size-icon-s, 18px);
  // }

  /* Track */
  ::-webkit-scrollbar-track {
    background-color: var(--color-background-neutral-default);
    //width: var(--size-icon-s, 18px);
    //   border-width: var(--spacing-padding-component-minimal, 4px);
    // padding: var(--spacing-padding-component-minimal, 4px);
    // box-shadow: inset 0 0 5px grey; 
    // border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: var(--color-background-neutral-muted-medium);
    // border-width: var(--spacing-padding-component-minimal, 4px);
    border-radius: var(--size-radius-round, 1000px); // does not seem to work
    //   border-color: transparent;
  }

  /* Handle on hover */
  :hover::-webkit-scrollbar-thumb {
    background-color: red; // var(--color-background-neutral-hover); // does not seem to work
  }

  // /* Handle on hover */
  // ::-webkit-scrollbar-thumb:active {
  //   background: var(--color-background-neutral-active); 
  // }

}

.ngt-disable-click {
  pointer-events: none;
}

.ngt-input-error{
  color: var(--color-icon-error);
}

.ngt-zero-opacity {
  opacity: 0;
}

.ngt-full-width {
  width: 100%;
}
