@use '@angular/material' as mat;

// MDC Switch
:root,
.dark-mode, .light-mode {

  @include mat.slide-toggle-overrides((track-height: var(--size-comp-XXS, 32px),
      unselected-handle-size: var(--primitives-global-dimension-2p5x, 20px),
      track-outline-width: var(--size-border-highlight),

      label-text-color: var(--color-text-neutral-default),
      label-text-size: var(--size-fontSize-m, 16px),
      label-text-weight: 400,
      label-text-line-height: var(--primitives-global-font-lineheightmedium, 150%),
      //
      unselected-handle-color: var(--color-background-neutral-contrast-default),
      unselected-hover-handle-color: var(--color-background-neutral-contrast-default),
      unselected-focus-handle-color: var(--color-background-neutral-contrast-default),
      unselected-pressed-handle-color: var(--color-background-neutral-contrast-default),
      unselected-icon-color: none,
      unselected-track-color: var(--color-background-neutral-muted-default),
      unselected-hover-track-color: var(--color-background-neutral-muted-default),
      unselected-focus-track-color: var(--color-background-neutral-muted-default),
      track-outline-color: var(--color-border-neutral-default),
      //
      selected-handle-color: var(--color-background-primary-default),
      selected-icon-color: var(--color-icon-primary-onprimary), //adapt for darkmode?
      selected-track-outline-color: var(--color-background-container-switch),
      selected-track-color: var(--color-background-container-switch),
      selected-hover-track-color: var(--color-background-container-switch),
      selected-focus-track-color: var(--color-background-container-switch),
      selected-pressed-track-color: var(--color-background-container-switch),
      //
      disabled-unselected-handle-color: var(--color-background-neutral-contrast-disabled),
      disabled-unselected-handle-opacity: 1.0,
      disabled-unselected-track-outline-color: var(--color-border-disabled),
      disabled-track-opacity: 1.0,
      disabled-unselected-track-color: var(--color-background-neutral-disabled),
      disabled-selected-icon-color: var(--color-icon-ondisabled),
      disabled-selected-handle-color: var(--color-background-primary-disabled),
      disabled-selected-handle-opacity: 1.0,
      disabled-selected-track-color: var(--color-background-neutral-disabled),
      disabled-unselected-icon-color: none,
      //

      unselected-hover-state-layer-opacity: var(--ngt-neutral-hover-opacity), // 1.0,
      unselected-focus-state-layer-opacity: var(--ngt-neutral-focus-opacity), // 1.0,
      unselected-pressed-state-layer-opacity: var(--ngt-neutral-active-opacity), // 1.0,
      unselected-hover-state-layer-color: rgb(from var(--color-background-neutral-hover) r g b / 100%),// var(--color-background-primary-hover),
      unselected-focus-state-layer-color: rgb(from var(--color-background-neutral-focus) r g b / 100%), // var(--color-background-neutral-focus)
      unselected-pressed-state-layer-color: rgb(from var(--color-background-neutral-active) r g b / 100%), // var(--color-background-neutral-active)
      //
      selected-hover-state-layer-opacity: var(--ngt-primary-hover-opacity), // 1.0,
      selected-focus-state-layer-opacity: var(--ngt-primary-focus-opacity), // 1.0,
      selected-pressed-state-layer-opacity: var(--ngt-primary-active-opacity), // 1.0,
      selected-hover-state-layer-color: rgb(from var(--color-background-primary-hover) r g b / 100%),// var(--color-background-primary-hover),
      selected-focus-state-layer-color: rgb(from var(--color-background-primary-focus) r g b / 100%), // var(--color-background-neutral-focus)
      selected-pressed-state-layer-color: rgb(from var(--color-background-primary-muted-active) r g b / 100%), // var(--color-background-neutral-active)
    ));
}

mat-slide-toggle[ng-reflect-disabled] label.mdc-label {
  color: var(--color-text-ondisabled);
}
