@mixin theme-color-light {

  /* Decisions/Color - Light v0.0.2 */
  --color-branding-primary-main: var(--primitives-color-highlightblue-100);
  --color-branding-neutral-main: var(--primitives-color-grey-4);
  --color-branding-neutral-bright: var(--primitives-color-grey-0);
  --color-branding-neutral-dimmed: var(--primitives-color-grey-5);
  --color-branding-neutral-contrast: var(--color-branding-neutral-transp-highest);
  --color-branding-neutral-transp-highest: var(--primitives-color-grey-85);
  --color-branding-neutral-transp-higher: var(--primitives-color-greytransp-100i87);
  --color-branding-neutral-transp-high: var(--primitives-color-greytransp-100h66);
  --color-branding-neutral-transp-moderate: var(--primitives-color-greytransp-100g60);
  --color-branding-neutral-transp-medium: var(--primitives-color-greytransp-100f38);
  --color-branding-neutral-transp-muted: var(--primitives-color-greytransp-100e26);
  --color-branding-neutral-transp-low: var(--primitives-color-greytransp-100c9);
  --color-branding-neutral-transp-lower: var(--primitives-color-greytransp-100b6);
  --color-branding-neutral-transp-lowest: var(--primitives-color-greytransp-100a3);
  --color-branding-neutral-transp-inverted-highest: var(--primitives-color-greytransp-100a3);
  --color-branding-neutral-transp-inverted-high: var(--primitives-color-greytransp-100d12);
  --color-branding-neutral-transp-inverted-medium: var(--primitives-color-greytransp-100c9);
  --color-branding-neutral-transp-inverted-low: var(--primitives-color-greytransp-100b6);
  --color-branding-neutral-transp-inverted-lowest: var(--primitives-color-greytransp-100a3);
  --color-branding-primary-dimmed: var(--primitives-color-highlightblue-115);
  --color-branding-primary-contrast: var(--primitives-color-grey-0);
  --color-branding-primary-transp-high: var(--primitives-color-highlightbluetransp-100e38);
  --color-signal-success-main: var(--primitives-color-green);
  --color-signal-warning-main: var(--primitives-color-yellow);
  --color-signal-error-main: var(--primitives-color-red);
  --color-branding-primary-transp-medium: var(--primitives-color-highlightbluetransp-100d26);
  --color-signal-error-contrast: var(--color-branding-neutral-contrast);
  --color-branding-primary-transp-low: var(--primitives-color-highlightbluetransp-100b9);
  --color-signal-success-contrast: var(--color-branding-neutral-contrast);
  --color-signal-warning-contrast: var(--color-branding-neutral-contrast);
  --color-signal-info-main: var(--primitives-color-highlightblue-60);
  --color-signal-neutral-main: var(--color-branding-neutral-transp-low);
  --color-signal-neutral-contrast: var(--color-branding-neutral-transp-highest);
  --color-signal-info-contrast: var(--color-branding-neutral-contrast);
  --color-text-primary-default: var(--color-branding-primary-main);
  --color-text-primary-inverted: var(--color-branding-primary-contrast);
  --color-text-neutral-default: var(--color-branding-neutral-transp-highest);
  --color-text-neutral-onneutral: var(--color-branding-neutral-transp-highest);
  --color-text-primary-onprimary: var(--color-branding-primary-contrast);
  --color-text-neutral-muted-default: var(--color-branding-neutral-transp-moderate);
  --color-text-primary-onprimarymuted: var(--color-branding-neutral-contrast);
  --color-icon-primary-default: var(--color-text-primary-default);
  --color-icon-neutral-default: var(--color-text-neutral-default);
  --color-icon-neutral-onneutral: var(--color-text-neutral-onneutral);
  --color-icon-primary-inverted: var(--color-text-primary-inverted);
  --color-icon-primary-onprimary: var(--color-text-primary-onprimary);
  --color-icon-neutral-muted-default: var(--color-text-neutral-muted-default);
  --color-icon-primary-onprimarymuted: var(--color-text-primary-onprimarymuted);
  --color-border-primary-default: var(--color-branding-primary-main);
  --color-background-primary-muted-default: var(--color-branding-primary-muted);
  --color-background-primary-muted-hover: var(--color-branding-neutral-transp-lowest);
  --color-background-primary-default: var(--color-branding-primary-main);
  --color-background-primary-hover: var(--color-branding-neutral-transp-lower);
  --color-background-neutral-default: var(--color-branding-neutral-main);
  --color-background-neutral-hover: var(--color-branding-neutral-transp-lowest);
  --color-background-primary-muted-focus: var(--color-branding-neutral-transp-lower);
  --color-background-primary-focus: var(--color-branding-neutral-transp-low);
  --color-background-neutral-focus: var(--color-branding-neutral-transp-lower);
  --color-background-primary-muted-active: var(--color-branding-neutral-transp-low);
  --color-border-primary-focus: var(--color-branding-primary-main);
  --color-background-container-screen: var(--color-branding-neutral-bright);
  --color-background-container-default: var(--primitives-color-grey-0);
  --color-background-backdrop: var(--color-branding-neutral-transp-moderate);
  --color-background-isselected: var(--color-branding-primary-main);
  --color-background-issecondaryselected: var(--color-branding-primary-transp-medium);
  --xspec-accent: var(--primitives-color-ergosignxspec-plum);
  --xspec-background: var(--primitives-color-grey-0);
  --xspec-background2: var(--primitives-color-grey-5);
  --xspec-inverted: var(--primitives-color-grey-0);
  --xspec-primary: var(--primitives-color-grey-100);
  --xspec-secondary: var(--primitives-color-grey-47);
  --xspec-placeholder: var(--primitives-color-ergosignxspec-magenta);
  --xspec-status1: var(--primitives-color-ergosignxspec-yellow);
  --xspec-status2: var(--primitives-color-ergosignxspec-cyan);
  --xspec-status3: var(--primitives-color-ergosignxspec-lime);
  --color-background-primary-active: var(--color-branding-neutral-transp-muted);
  --color-background-primary-disabled: var(--color-branding-neutral-transp-lower);
  --mode: Light;
  --isdark: false;
  --islight: true;
  --color-background-neutral-active: var(--color-branding-neutral-transp-low);
  --color-border-neutral-default: var(--color-branding-neutral-transp-muted);
  --color-border-neutral-hover: var(--color-branding-neutral-transp-highest);
  --color-background-neutral-activecontrast: var(--color-branding-neutral-transp-inverted-highest);
  --color-icon-error: var(--color-text-error);
  --color-icon-warning: var(--color-text-warning);
  --color-background-container-ondefault: var(--color-branding-neutral-transp-lowest);
  --color-text-error: var(--color-signal-error-main);
  --color-icon-info: var(--color-text-info);
  --color-icon-success: var(--color-text-success);
  --color-background-container-ondefaultcontrast: var(--primitives-color-highlightblue-20);
  --color-text-warning: var(--color-signal-warning-main);
  --color-text-info: var(--color-signal-info-main);
  --color-text-success: var(--color-signal-success-main);
  --color-border-neutral-contrast-default: var(--color-branding-neutral-contrast);
  --color-icon-ondisabled: var(--color-text-ondisabled);
  --color-text-ondisabled: var(--color-branding-neutral-transp-medium);
  --color-border-error: var(--color-signal-error-main);
  --color-background-neutral-muted-default: var(--color-branding-neutral-transp-lowest);
  --color-background-neutral-muted-medium: var(--color-branding-neutral-transp-low);
  --color-background-neutral-inverted-default: var(--color-branding-neutral-transp-inverted-medium);
  --color-border-disabled: var(--color-branding-neutral-transp-low);
  --color-background-neutral-contrast-default: var(--color-branding-neutral-transp-medium);
  --color-background-neutral-contrast-disabled: var(--color-branding-neutral-transp-low);
  --color-background-neutral-disabled: var(--color-branding-neutral-transp-lowest);
  --color-background-container-inverted: var(--color-branding-neutral-transp-medium);
  --color-background-container-highlight: var(--primitives-color-highlightblue-10);
  --color-background-container-tooltip: var(--color-branding-primary-muted);
  --color-background-container-switch: var(--color-branding-primary-transp-high);
  --color-background-container-overlay: var(--primitives-color-grey-0);
  --color-branding-primary-muted: var(--primitives-color-highlightblue-10);
}
