/* No  >,%  are allowed in variables */

/* Primitives - Primitives v0.0.2 */
:root {
  --primitives-color-highlightblue-10: rgba(231, 242, 255, 1);
  --primitives-color-highlightblue-20: rgba(208, 230, 255, 1);
  --primitives-color-highlightblue-30: rgba(184, 217, 255, 1);
  --primitives-color-highlightblue-30e38: rgba(184, 217, 255, 0.3799999952316284);
  --primitives-color-highlightblue-40: rgba(161, 205, 255, 1);
  --primitives-color-highlightblue-60: rgba(114, 180, 255, 1);
  --primitives-color-highlightblue-80: rgba(67, 155, 255, 1);
  --primitives-color-highlightblue-100: rgba(20, 130, 255, 1);
  --primitives-color-highlightblue-115: rgba(18, 116, 227, 1);
  --primitives-color-highlightblue-120: rgba(16, 104, 204, 1);
  --primitives-color-highlightblue-140: rgba(14, 91, 178, 1);
  --primitives-color-highlightblue-160: rgba(10, 65, 128, 1);
  --primitives-color-highlightblue-180: rgba(6, 39, 77, 1);
  --primitives-color-highlightbluetransp-100a6: rgba(20, 130, 255, 0.05999999865889549);
  --primitives-color-highlightbluetransp-100b9: rgba(20, 130, 255, 0.09000000357627869);
  --primitives-color-highlightbluetransp-100c12: rgba(20, 130, 255, 0.11999999731779099);
  --primitives-color-highlightbluetransp-100d26: rgba(20, 130, 255, 0.25999999046325684);
  --primitives-color-highlightbluetransp-100e38: rgba(20, 130, 255, 0.3799999952316284);
  --primitives-color-highlightbluetransp-100f54: rgba(20, 130, 255, 0.5400000214576721);
  --primitives-color-darkblue-100: rgba(0, 20, 50, 1);
  --primitives-color-darkblue-90: rgba(26, 44, 71, 1);
  --primitives-color-darkblue-80: rgba(51, 67, 91, 1);
  --primitives-color-darkblue-70: rgba(77, 91, 112, 1);
  --primitives-color-darkblue-60: rgba(102, 114, 132, 1);
  --primitives-color-darkblue-50: rgba(128, 137, 152, 1);
  --primitives-color-darkblue-40: rgba(153, 161, 173, 1);
  --primitives-color-darkblue-30: rgba(178, 184, 193, 1);
  --primitives-color-darkblue-20: rgba(204, 208, 214, 1);
  --primitives-color-darkblue-10: rgba(229, 231, 234, 1);
  --primitives-color-yellow: rgba(255, 198, 0, 1);
  --primitives-global-dimension-none: 0px;
  --primitives-global-dimension-0p25x: 2px;
  --primitives-global-dimension-0p375x: 3px;
  --primitives-global-dimension-0p5x: 4px;
  --primitives-global-dimension-0p75x: 6px;
  --primitives-global-dimension-base: 8px;
  --primitives-global-dimension-1p5x: 12px;
  --primitives-global-dimension-1p75x: 14px;
  --primitives-global-dimension-2x: 16px;
  --primitives-global-dimension-2p25x: 18px;
  --primitives-global-dimension-2p5x: 20px;
  --primitives-global-dimension-2p75x: 22px;
  --primitives-global-dimension-3x: 24px;
  --primitives-global-dimension-3p5x: 28px;
  --primitives-global-dimension-4x: 32px;
  --primitives-global-dimension-5x: 40px;
  --primitives-global-dimension-5p25x: 42px;
  --primitives-global-dimension-6x: 48px;
  --primitives-global-dimension-7x: 56px;
  --primitives-global-dimension-8x: 64px;
  --primitives-global-dimension-9x: 72px;
  --primitives-global-dimension-10x: 80px;
  --primitives-global-dimension-12x: 96px;
  --primitives-global-dimension-14x: 112px;
  --primitives-global-dimension-15x: 120px;
  --primitives-global-dimension-20x: 160px;
  --primitives-global-dimension-25x: 200px;
  --primitives-global-dimension-30x: 240px;
  --primitives-global-dimension-32x: 256px;
  --primitives-global-dimension-40x: 320px;
  --primitives-global-dimension-44x: 352px;
  --primitives-global-dimension-50x: 400px;
  --primitives-global-dimension-56x: 448px;
  --primitives-global-dimension-60x: 480px;
  --primitives-global-dimension-70x: 560px;
  --primitives-global-dimension-80x: 640px;
  --primitives-global-font-fontfamily: Inter;
  --primitives-global-font-fontweightlight: 300;
  --primitives-global-font-fontweightregular: 400;
  --primitives-global-font-fontweightmedium: 600;
  --primitives-global-font-fontweightbold: 700;
  --primitives-global-font-lineheightlow: 1.25;
  --primitives-global-font-lineheightmedium: 1.5;
  --primitives-global-font-lineheighthigh: 1.75;
  --primitives-global-size-radius-m: 4px;
  --primitives-global-size-radius-l: 8px;
  --primitives-global-size-radius-round: 1000px;
  --primitives-global-size-border-s: 1px;
  --primitives-global-size-border-m: 2px;
  --primitives-global-size-border-l: 3px;
  --primitives-color-red: rgba(255, 89, 0, 1);
  --primitives-color-green: rgba(68, 175, 102, 1);
  --primitives-color-grey-0: rgba(255, 255, 255, 1);
  --primitives-color-greytransp-0a6: rgba(255, 255, 255, 0.05999999865889549);
  --primitives-color-groupcolors-yellow: rgba(255, 193, 84, 1);
  --primitives-color-groupcolors-purple: rgba(160, 78, 230, 1);
  --primitives-color-groupcolors-cyan: rgba(0, 160, 214, 1);
  --primitives-color-groupcolors-blue: rgba(83, 121, 184, 1);
  --primitives-color-groupcolors-red: rgba(180, 38, 55, 1);
  --primitives-color-groupcolors-green: rgba(57, 247, 189, 1);
  --primitives-color-groupcolors-orange: rgba(249, 119, 87, 1);
  --primitives-color-greytransp-0b9: rgba(255, 255, 255, 0.09000000357627869);
  --primitives-color-greytransp-0c12: rgba(255, 255, 255, 0.11999999731779099);
  --primitives-color-greytransp-0d26: rgba(255, 255, 255, 0.25999999046325684);
  --primitives-color-greytransp-0e38: rgba(255, 255, 255, 0.3799999952316284);
  --primitives-color-greytransp-0f54: rgba(255, 255, 255, 0.5400000214576721);
  --primitives-color-greytransp-0g60: rgba(255, 255, 255, 0.6000000238418579);
  --primitives-color-greytransp-0h66: rgba(255, 255, 255, 0.6600000262260437);
  --primitives-color-greytransp-0i87: rgba(255, 255, 255, 0.8700000047683716);
  --primitives-color-greytransp-100a3: rgba(0, 0, 0, 0.029999999329447746);
  --primitives-color-greytransp-100b6: rgba(0, 0, 0, 0.05999999865889549);
  --primitives-color-greytransp-100c9: rgba(0, 0, 0, 0.09000000357627869);
  --primitives-color-greytransp-100d12: rgba(0, 0, 0, 0.11999999731779099);
  --primitives-color-greytransp-100e26: rgba(0, 0, 0, 0.25999999046325684);
  --primitives-color-greytransp-100f38: rgba(0, 0, 0, 0.3799999952316284);
  --primitives-color-greytransp-100g60: rgba(0, 0, 0, 0.6000000238418579);
  --primitives-color-greytransp-100h66: rgba(0, 0, 0, 0.6600000262260437);
  --primitives-color-greytransp-100i87: rgba(0, 0, 0, 0.8700000047683716);
  --primitives-color-grey-4: rgba(245, 245, 245, 1);
  --primitives-color-grey-5: rgba(242, 242, 242, 1);
  --primitives-color-grey-15: rgba(218, 218, 218, 1);
  --primitives-color-grey-30: rgba(178, 178, 178, 1);
  --primitives-color-grey-47: rgba(135, 135, 135, 1);
  --primitives-color-grey-73: rgba(69, 69, 69, 1);
  --primitives-color-grey-85: rgba(38, 38, 38, 1);
  --primitives-color-grey-100: rgba(0, 0, 0, 1);
  --primitives-color-ergosignxspec-plum: rgba(133, 2, 177, 1);
  --primitives-color-ergosignxspec-magenta: rgba(239, 179, 211, 1);
  --primitives-color-ergosignxspec-lemon: rgba(254, 255, 52, 1);
  --primitives-color-ergosignxspec-lime: rgba(182, 228, 76, 1);
  --primitives-color-ergosignxspec-yellow: rgba(228, 197, 1, 1);
  --primitives-color-ergosignxspec-cyan: rgba(73, 163, 229, 1);
}