
.ngt-selectable-text{
  user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
}

.ngt-scroll-parent{
  overflow: hidden;
}

.ngt-scroll-vertically{
  display: flex;
  min-height: 0;
  flex-grow: 1;
  overflow: auto;
}

.ngt-scroll-horizontally{
  display: flex;
  min-width: 0;
  flex-grow: 1;
  overflow: auto;
}

.ngt-scroll{
  display: flex;
  min-width: 0;
  min-height: 0;
  flex-grow: 1;
  overflow: auto;
}
