/* Decisions/General - laptop (1240-1439) */
:root {
    --size-icon-s: var(--primitives-global-dimension-2p25x);
    --size-icon-m: var(--primitives-global-dimension-2p5x);
    --size-icon-l: var(--primitives-global-dimension-3x);
    --size-icon-action-s: var(--size-icon-s);
    --size-icon-xl: var(--primitives-global-dimension-4x);
    --size-icon-action-m: var(--size-icon-m);
    --size-icon-xxl: var(--primitives-global-dimension-6x);
    --size-icon-selectable-s: var(--size-icon-m);
    --size-icon-xxxl: var(--primitives-global-dimension-8x);
    --size-comp-xxs: var(--primitives-global-dimension-4x);
    --size-comp-xs: var(--primitives-global-dimension-5x);
    --size-icon-selectable-m: var(--size-icon-l);
    --size-comp-s: var(--primitives-global-dimension-6x);
    --size-comp-m: var(--primitives-global-dimension-7x);
    --size-comp-l: var(--primitives-global-dimension-9x);
    --size-height-formcomp-bordergap: var(--size-border-highlight);
    --size-height-formcomp-helpercontainer: var(--primitives-global-dimension-3x);
    --size-height-formcomp-helper: var(--primitives-global-dimension-2p5x);
    --size-height-progressbar: var(--primitives-global-dimension-1p5x);
    --size-height-formcomp-valuecontainer-s: var(--primitives-global-dimension-3x);
    --size-height-formcomp-valuecontainer-m: var(--primitives-global-dimension-4x);
    --size-radius-comp: var(--primitives-global-size-radius-m);
    --size-radius-layer: var(--primitives-global-size-radius-l);
    --size-radius-round: var(--primitives-global-size-radius-round);
    --size-border-standard: var(--primitives-global-size-border-s);
    --size-border-highlight: var(--primitives-global-size-border-m);
    --size-border-highlight-large: var(--primitives-global-size-border-m);
    --size-mintarget: var(--primitives-global-dimension-3x);
    --spacing-s: var(--primitives-global-dimension-0p5x);
    --spacing-m: var(--primitives-global-dimension-base);
    --spacing-l: var(--primitives-global-dimension-1p5x);
    --spacing-xl: var(--primitives-global-dimension-2x);
    --spacing-2xl: var(--primitives-global-dimension-2p5x);
    --spacing-3xl: var(--primitives-global-dimension-3x);
    --spacing-4xl: var(--primitives-global-dimension-5x);
    --spacing-gap-component-dense: var(--spacing-s);
    --spacing-gap-component-standard: var(--spacing-m);
    --spacing-gap-component-wide: var(--spacing-xl);
    --spacing-gap-layout-minimal: var(--spacing-s);
    --spacing-gap-layout-standard: var(--spacing-m);
    --spacing-gap-layout-large: var(--spacing-xl);
    --spacing-padding-component-minimal: var(--spacing-s);
    --spacing-padding-component-dense: var(--spacing-m);
    --spacing-padding-component-narrow: var(--spacing-l);
    --spacing-padding-component-standard: var(--spacing-xl);
    --spacing-padding-component-wide: var(--spacing-2xl);
    --spacing-padding-component-loose: var(--spacing-3xl);
    --spacing-padding-component-spacious: var(--spacing-4xl);
    --spacing-padding-layout-dense: var(--spacing-m);
    --spacing-padding-layout-standard: var(--spacing-xl);
    --spacing-padding-layout-wide: var(--spacing-3xl);
    --spacing-padding-layout-xwide: var(--spacing-4xl);
    --grid-layoutcolumns: 12px;
    --grid-gutter: var(--primitives-global-dimension-3x);
    --grid-margin: var(--primitives-global-dimension-3x);
    --_xspec-spacing-padding-mver: var(--primitives-global-dimension-4x);
    --_xspec-spacing-padding-mhor: var(--primitives-global-dimension-6x);
    --_xspec-spacing-padding-lver: var(--primitives-global-dimension-8x);
    --_xspec-spacing-padding-xl: var(--primitives-global-dimension-12x);
    --_xspec-spacing-gap-list: var(--spacing-gap-component-standard);
    --_xspec-spacing-gap-overview: var(--primitives-global-dimension-4x);
    --_xspec-size-radius-container: var(--primitives-global-dimension-base);
    --size-maxwidth-comp: var(--primitives-global-dimension-32x);
    --size-maxwidth-formcomp: var(--primitives-global-dimension-56x);
    --size-minwidth-comp: var(--primitives-global-dimension-5x);
    --size-minwidth-formcomp: var(--primitives-global-dimension-12x);
  }