
:host {
  display: flex;
  min-height: var(--size-comp-XS, 40px);
  padding: var(--spacing-padding-component-dense, 8px) var(--spacing-padding-component-standard, 16px);
  align-items: center;
  gap: var(--spacing-gap-component-standard, 8px);
  align-self: stretch;
  border-radius: var(--size-radius-comp, 4px);

  cursor: pointer;
  transition: 300ms;
}

:host:hover {
  background: linear-gradient(0deg, var(--color-background-primary-muted-hover, rgba(255, 255, 255, 0.06)) 0%, var(--color-background-primary-muted-hover, rgba(255, 255, 255, 0.06)) 100%), var(--color-background-primary-muted-default, #0A4180);
}

:host.selected {
  background: var(--color-background-isSecondarySelected, rgba(20, 130, 255, 0.54));
}

.label {
  text-overflow: ellipsis;
  overflow: hidden;
  text-wrap-mode: nowrap;
}

.relative-anchor {
  position: relative;
  height: 100%;
}

.badge-pile {
  position: absolute;
}
