:host{
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  min-width: 100%;
  min-height: 100%;
}

.top-bar {
  height: 56px;
  display: flex;
  align-items: center;
  padding: 0 var(--spacing-padding-component-dense, 8px);
  gap: var(--spacing-gap-layout-large, 16px);

  background: var(--color-background-container-overlay, #33435B);
  flex-shrink: 0;
  flex-grow: 0;
}

.logo {
  height: 40px;
  width: auto;
  display: block;
}

.app-content {
  display: grid;
  grid-template-columns: auto 1fr;
  width: auto;
  height: calc(100vh - 56px);
}

.routed-content{
  display: block;
  min-height: 0;
  flex-grow: 1;  
  width: auto;
  overflow: hidden;
  background-color: var(--color-background-container-ondefault);
}
