
:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
  height: 56px;
  max-height: 56px;
  min-height: 56px;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  border-bottom: var(--size-border-standard, 1px) solid var(--color-border-neutral-default, rgba(0, 0, 0, 0.26));
}

:host.highlighted {
  border-bottom: var(--size-border-highlight, 2px) solid var(--color-border-neutral-default, rgba(0, 0, 0, 0.26));
}
